/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on gh
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with github actions'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = '6.GB'
    max_time = '6.h'

    //output directory
    e = "Flu-ONT"
    input = "https://raw.githubusercontent.com/CDCgov/MIRA-NF/refs/heads/master/data/test_data/nextflow_samplesheet.csv"
    runpath = "https://github.com/CDCgov/MIRA-NF/tree/master/data/test_data"
    outdir = "./outputs"
    amd_platform = true

}
