/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cdcgov/mira-nf Nextflow local config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This is set up like the base config, but with limited resources to run smoothly on a locally
----------------------------------------------------------------------------------------
*/

process {
    cpus = { 1 * task.attempt }
    memory = { 6.GB * task.attempt }
    time = { 4.h * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    // Process-specific resource requirements
    withLabel: process_single {
        cpus = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withLabel: process_low {
        cpus = { 1 * task.attempt }
        memory = { 4.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withLabel: process_medium {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withLabel: process_high {
        cpus = { 1 * task.attempt }
        memory = { 12.GB * task.attempt }
        time = { 16.h * task.attempt }
    }
    withLabel: process_long {
        time = { 20.h * task.attempt }
    }
    withLabel: process_high_memory {
        memory = { 30.GB * task.attempt }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
