/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {


    withName: CONCATFASTQS {
        publishDir = [
            path: { "${params.outdir}/fastq_pass/cat_fastqs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NEXTFLOWSAMPLESHEETI' {
        ext.args = '--quiet'
    }

    withName: 'NEXTFLOWSAMPLESHEETO' {
        ext.args = '--quiet'
    }

    withName: 'FINDCHEMISTRYI' {
        publishDir = [
            path: { "${params.outdir}/IRMA" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FINDCHEMISTRYO' {
        publishDir = [
            path: { "${params.outdir}/IRMA" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SUBSAMPLESINGLEREADS' {
        publishDir = [
            path: { "${params.outdir}/logs" },
            pattern: '*.log',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIMLEFT' {

        publishDir = [
            path: { "${params.outdir}/logs" },
            pattern: '*.log',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIMRIGHT' {

        publishDir = [
            path: { "${params.outdir}/logs" },
            pattern: '*.log',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TRIMPRIMERSLEFT' {

        publishDir = [
            path: { "${params.outdir}/logs" },
            pattern: '*.log',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PASSFAILED' {
        publishDir = [
            path: { "${params.outdir}/IRMA_negative" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CREATEDAISINPUT' {
        publishDir = [
            path: { "${params.outdir}/IRMA/dais_results" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'DAISRIBOSOME' {
        publishDir = [
            path: { "${params.outdir}/IRMA/dais_results" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PREPAREIRMAJSON' {
        publishDir = [
            path: { "${params.outdir}/dash_json" },
            pattern: '*.json',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STATICHTML' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PARQUETMAKER' {
        publishDir = [
            path: { "${params.outdir}/parq_files" },
            pattern: '*.parq',
            mode: params.publish_dir_mode
        ]
    }

    
    withName: 'PREPEMAIL' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

}