/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cdcgov/mira-nf Nextflow aws omics file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file, appropriate for general use on most aws
    compute environments. Assumes that all software is installed and available on
    the PATH.
----------------------------------------------------------------------------------------
*/

includeConfig 'aws_mem.config'
//includeConfig 'local_base.config'

params {
    outdir = '/mnt/workflow/pubdir'
    reformat_tables  = true
    amd_platform = false
    read_qc = true
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

docker {
    enabled = true
    registry = params.ecr_registry
    docker.runOptions      = '-u $(id -u):$(id -g)'
}


process {
    containerOptions = "-v ${params.outdir}:${params.outdir}"

    withName: STAGES3FILES {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }
    withName: CONCATFASTQS {
        publishDir = [
            path: { "${params.outdir}/fastq_pass/cat_fastqs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: FASTQC {
        ext.args = '--quiet'
        container = 'cdcgov/fastqc:v0.12.1-alpine'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/aggregate_outputs/multiqc" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/multiqc:v1.19-alpine'
    }

    withName: 'NEXTFLOWSAMPLESHEETI' {
        publishDir = [
            path: { "${params.outdir}/samplesheet_i" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'NEXTFLOWSAMPLESHEETO' {
        publishDir = [
            path: { "${params.outdir}/samplesheet_o" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'FINDCHEMISTRYI' {
        publishDir = [
            path: { "${params.outdir}/find_chemistry_i" },
            mode: params.publish_dir_mode
        ]

        container = 'cdcgov/mira-oxide:latest'
    }

    withName: 'SUBSAMPLEPAIREDREADS' {
        publishDir = [
            path: { "${params.outdir}/${sample}/subsampled-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }

    withName: 'SUBSAMPLESINGLEREADS' {
        publishDir = [
            path: { "${params.outdir}/${sample}/subsampled-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }

    withName: 'TRIMBARCODES' {

        publishDir = [
            path: { "${params.outdir}/${sample}/barcode-trimmed-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }


    withName: 'SC2TRIMPRIMERS' {

        publishDir = [
            path: { "${params.outdir}/${sample}/primer-trimmed-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }

    withName: 'RSVTRIMPRIMERS' {

        publishDir = [
            path: { "${params.outdir}/${sample}/primer-trimmed-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }

    withName: 'FLUTRIMPRIMERS' {

        publishDir = [
            path: { "${params.outdir}/${sample}/primer-trimmed-reads" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'ghcr.io/cdcgov/irma-core:v0.6.0'
    }

    withName: 'IRMA' {

        publishDir = [
            path: { "${params.outdir}/${sample}/IRMA" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/irma:v1.2.1'
    }

    withName: 'CONFIRMIRMAOUTPUT' {
        publishDir = [
            path: { "${params.outdir}/IRMA-confirmation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'PASSFAILED' {
        publishDir = [
            path: { "${params.outdir}/${sample}/IRMA-negative" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'CREATEDAISINPUT' {
        publishDir = [
            path: { "${params.outdir}/aggregate_outputs/dais-ribosome" },
            mode: params.publish_dir_mode
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'DAISRIBOSOME' {
        publishDir = [
            path: { "${params.outdir}/aggregate_outputs/dais-ribosome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/dais-ribosome:v1.5.5'
        containerOptions = '-v /tmp:/dais-ribosome/workdir -v /tmp:/dais-ribosome/lib/sswsort/workdir/'
    }

    withName: 'PREPAREIRMAJSON' {
        publishDir = [
            path: { "${params.outdir}/aggregate_outputs/dash-json" },
            pattern: '*.json',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'STATICHTML' {
        publishDir = [
            path: { "${params.outdir}/aggregate_outputs/mira-reports" },
            pattern:'*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

    withName: 'PARQUETMAKER' {
        publishDir = [
            [
                path: { "${params.outdir}/aggregate_outputs/parquet-reports" },
                pattern: '*.parq',
                mode: params.publish_dir_mode
            ],
            [
                path: { "${params.outdir}/aggregate_outputs/csv-reports" },
                pattern: '*.csv',
                mode: params.publish_dir_mode
            ]
        ]
        container = 'cdcgov/mira-nf:python3.10-alpine'
    }

}
