cutadapt
pandas
pyyaml
numpy
plotly
pulp
openpyxl
flask
Werkzeug
dash
dash-bio
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-table
flask-caching
flask-compress
colorlover
requests
pyarrow
datetime