name: Run Pipeline Tests CI/CD
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors

on:
  pull_request:
    branches:
      - dev
  workflow_dispatch:
    inputs:
      run_tests:
        description: "Run comma separated tests on the pipeline (Ex: tests/default.nf.test,tests/flu.nf.test)"
        required: false
        default: "tests/default.nf.test"

# Ensure only one workflow run per PR/branch, cancel previous if a new one is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pipeline-test:
    uses: cdcent/oamd-bio-gh-actions/.github/workflows/nf-test.yml@main
    with:
      run_on_aws: true
      component_type: "pipeline"
      max_parallel: 2
      run_tests: ${{ inputs.run_tests || 'tests/default.nf.test' }}
      nft_profile: "test,docker"
      nxf_version: "24.04.2"
    secrets: inherit