name: Run nf-test CI/CD

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - dev
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      run_on_batch:
        description: "Run tests in batch mode"
        required: false
        default: false
        type: boolean
      max_parallel:
        description: "Maximum number of parallel test runs"
        required: false
        default: 2
        type: number
      only_changed:
        description: "Run tests only for changed modules"
        required: false
        default: false
        type: boolean

# Concurrency: only one workflow active per branch or PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nf-test:
    uses: CDCgov/MIRA-NF/.github/workflows/ci.yml@fix_gh_actions
    with:
      max_parallel: ${{ inputs.max_parallel }}
      run_tests: "tests/default.nf.test"
      nft_profile: "${{ inputs.run_on_batch && 'dev' || 'standard,dev_reg' }}"
      only_changed: ${{ inputs.only_changed }}