name: Run nf-test CI/CD

# Triggers
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - dev
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      run_tests:
        description: "Run comma separated tests on the pipeline (Ex: tests/default.nf.test,tests/flu.nf.test)"
        required: false
        default: "tests/default.nf.test"
      run_on_aws:
        description: "Run pipeline on AWS"
        required: false
        default: true
        type: boolean
      nft_profile:
        description: "Nextflow profile to use"
        required: false
        default: "standard,dev_reg"
      nxf_version:
        description: "Nextflow version to use"
        required: false
        default: "24.10.5"
      max_parallel:
        description: "Maximum number of parallel test runs"
        required: false
        default: 2

# Concurrency: only one workflow run active at a time per branch or PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pipeline-test:
    uses: CDCgov/MIRA-NF/.github/workflows/nf-test.yml@fix_gh_actions
    with:
      run_on_aws: ${{ github.event.inputs.run_on_aws }}
      component_type: "pipeline"
      run_tests: ${{ github.event.inputs.run_tests || 'tests/default.nf.test' }}
      nft_profile: ${{ github.event.inputs.nft_profile }}
      nxf_version: ${{ github.event.inputs.nxf_version }}
      max_parallel: ${{ github.event.inputs.max_parallel }}
    secrets: inherit