name: Run nf-test CI/CD

on:
  push:
    branches:
      - master
      - fix_gh_actions
  pull_request:
    branches:
      - dev
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      run_on_batch:
        description: "Run tests in batch mode"
        required: false
        default: false
        type: boolean
      only_changed:
        description: "Run tests only for changed modules"
        required: false
        default: false
        type: boolean

# Concurrency: only one workflow active per branch or PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nf-test:
    uses: CDCgov/MIRA-NF/.github/workflows/ci.yml@fix_gh_actions
    with:
      run_on_batch: ${{ inputs.run_on_batch }}
      only_changed: ${{ inputs.only_changed }}